name: Node.js CI

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
      - uses: actions/checkout@v4
      - name: Update Website
        uses: actions/setup-node@v4
        with:
          node-version: '20.x'
          ref: ${{ github.head_ref }}
      - run: node build.js
        working-directory: .
      - name: Check for modified files
        id: git-check
        run: echo ::set-output name=modified::$(if [ -n "$(git status --porcelain)" ]; then echo "true"; else echo "false"; fi)

      - name: Commit new changes
        if: steps.git-check.outputs.modified == 'true'
        run: |
          git config user.name 'norwichcityfcbr'
          git config user.email 'lucasjorgedclt@gmail.com'
          git add .
          git commit -am "AUTO: Updated site."
      - name: Update pages artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: . # this is root of project
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
